
.card {
  background: #ff4081;
  /*border: solid 1px #000;*/
  width: 100%;
  height: 450px;
  max-width: 810px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  opacity: .95;


  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}
.card-v1 {
  background: rgba(255, 255, 255, 0.51);
  border: solid 1px #000;
  width: 100%;
  height: 230px;
  margin-bottom: 8px;
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  opacity: .95;

  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}
.card-v2 {
  background: rgba(8, 164, 132, 0.00);
  /*border: solid 1px #000;*/
  width: 90%;
  height: 140px;
  max-width: 800px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  position: relative;
  opacity: .95;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}
#config_wheelfront {
  position: absolute;
  top: 0;
  left: 0;
}
#config_wheelrear {
  position: absolute;
  top: 0;
  left: 0;
}


#container > div
{
  display: inline-block;

  text-align: center;

  /*border: solid 1px #000;*/
  width: 120px;
  height: 120px;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display: box;
  box-pack:center;
  box-align:center;

}
#container
{
  /*border: solid 1px #ff0000;*/
  text-align: center;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}
.containerCustom {
  /*border: solid 1px #ff0000;*/
  text-align: center;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}
