<section class="artistinfo" >
  <a href="#/details/{{prevItem}}" class="btn btn-left">&lt</a>
  <a href="#/details/{{nextItem}}" class="btn btn-left">&gt</a>

  <div class="artist cf">
    <h1>{{artists[whichItem].name}}</h1>
    <div class="info">
      <h3>{{artists[whichItem].reknown}}</h3>
      <img ng-src="images/{{artists[whichItem].shortname}}_tn.jpg" alt="Image of {{artists[whichItem].name}}">
      <div class="bio">{{artists[whichItem].bio}}</div>
    </div>
  </div>
  <a href="/#v1">&laquo Back</a>
</section>
