
<div ng-controller="wheeldemo">
  <div class="search">
    <h1>Wheels Directory</h1>
    <label>Search:</label>
    <input ng-model="query" placeholder="Search for Wheels" autofocus>
    <label class="formgroup">by:
      <select ng-model="arto">
        <option value="name">Name</option>
        <option value="id">Reknown</option>
      </select>
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      Asecending
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reversed">
      Desecnding
    </label>
  </div>

  <ul class="artistlist" >
    <li class="artist cf" ng-repeat="item in wheels | filter: query | orderBy: arto:direction | limitTo: 30">
      <a href="#/details/{{wheels.indexOf(item)}}">
        <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
        <div class="info">
          <h2>{{item.name | uppercase}}</h2>
          <h3>{{item.id}}</h3>
        </div>
      </a>
    </li>
  </ul>

</div>
